* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(2, 15, 22);
    
}

h1{

    padding: 15px;
}

h2{

    padding: 10px;
}
.container{
    width: 1024px;
    margin: auto;
    
	
}
#site-content{
    margin: auto;
    width: 1024px;
    background-color: rgba(3, 27, 41, 0.658);
    border-radius: 8px;
}
.ContentBox{

    width: 1024px;
    margin: auto;
    color: whitesmoke;
    /* padding: 15px 15px 15px 15px; */
    
     
     /*   tratar as cores das caixas de texto localmente 
                                        usar containers para dimencionamento apenas */
     /* margin-bottom: 20px;  */
    
}

.textbox{
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    text-align: justify;
    max-width: 75%;
    height: 250px;
    border-radius: 2px;
    background-color: rgba(36, 38, 39, 0.315);
}

header{
    
    background-image: linear-gradient(#000000,#111111);
    height: 110px;
    padding: 10px;
    position: sticky;
    top: 0;
    /* margin-bottom: 2px;  */


    
    
}


#Logo {

    float: left;
    

    
}

#menu{

    
    float: right;
    

    
    
}

#menu ul {

    
    list-style: none;
}

#menu ul li{

    display: inline;

    
}

#menu a{

    padding:52px 20px;
    display: inline-block;
    text-decoration: none;
    color:grey ;
    

}

#menu a:hover{

    background-color: purple;
    color: greenyellow;

}

hr{
    background-color: orangered;
    border-color: orangered;
    height: 1px;
    margin-top: 4px;
    margin-bottom:6px ;
}

#aboutGame{
    clear: both;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 1px #111111;
    background-image: url("imagens/dojo1.jpeg");
    background-size: 100%;
    
    min-height: 400px
}
#team{
    text-align: center;
    text-shadow: 3px 3px 1px #111111;
    min-height: 500px;
}


#contact{
    text-align: center;
    text-shadow: 3px 3px 1px #111111;
    min-height: 150px;
}

#req{
    text-align: center;
    text-shadow: 3px 3px 1px #111111;
    min-height: 200px;
    
}

#req-min{
    text-align: justify;
    text-shadow: 3px 3px 1px #111111;
    float: left;
    width: 48%;
}

#req-rec{
    text-align: justify;
    text-shadow: 3px 3px 1px #111111;
    float: right;
    width: 48%;
}


footer{
    font-size: 13px;
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
    width: 100%;
    height: 10px;
    padding: 20px 0px 20px 0px;
    background-color: rgb(84, 84, 87);
    clear: both;
}