
/* Estilo da pagina inteira ou containers  */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(2, 15, 22);
    
}

#siteWrapper
{
    margin: auto;
}

h1{

    padding: 15px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{

    padding: 10px;
}
.containerHead{
    width: 100%;
    margin: auto;
    position: absolute;
    
	
}

#site-content{
    margin: auto;
    width: 76%;
    background-color: rgba(3, 27, 41, 0.658);
}
.ContentBox{

    width: 100%;
    margin: auto;
    color: whitesmoke;
    position: relative;

}

.textbox{
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    max-width: 75%;
    height: fit-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 2px;
    background-color: rgba(22, 25, 27, 0.322);
}

hr{
    background-color: orangered;
    border-color: orangered;
    height: 1px;
    margin-top: 2px;
    margin-bottom:2px ;
} 

 

/* estilo do cabeçalho e menu */

header{
    
    background-image: linear-gradient(#000000,#111111);
    
    height: 80px;
    padding: 8px;
    position: relative;
    position: sticky;
    z-index: 100;
    top: 0;
    
}


#Logo {
    padding-left: 20px;
    float: left;
    cursor: pointer;
    
}

#Logo img {

    height: 80%;
    width: 80%;
}

#menu{
    
    float: right;
    padding-right: 40px; 
    overflow: hidden;
    
}



#menu  a{

    padding:33px 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color:grey ;
    

}

#menu  a:hover,#menu a.active{

    
    color: greenyellow;

}



/*  Estilo da seção home e dos slides */

#home {

    text-align: center;
    text-shadow: 1px 1px 1px #111111;
    min-height: 400px;
}

.slideContainer{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.slideContainer h2{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: inline-block;
    padding: 5px;
    margin: 0 auto;
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}
.slideContainer > * {

    width: 100%;
	position: absolute;
	opacity: 0;
    transition: .5s;
    max-height: 650px;
    
}

.slideContainer > .activeSlide{

    position: relative;
	opacity: 1;
    
}

.left {

    
    margin-top: 300px;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    left: 0;
}

.right

{
    
    margin-top: 300px;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    right: 0;
}

/* estilo da seção sobre o jogo */

#aboutGame{
    clear: both;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
    background-image: url("imagens/dojo1.jpeg");
    background-size: 100%;
    
    min-height: 500px
}

#sinopse{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mais{

    display: none;
}


.showMore{

    margin: auto;
    margin-top: 15px;
    display: block;
    text-align: center;
    text-shadow: 2px 2px 1px #111111;
    background-color: #C20909;
    color: whitesmoke;
    font-size: 20px;
    text-transform: capitalize;
    border-style: none;
    outline: none;
    padding: 10px 20px;


}

/*  estilo da seção da equipe */

#team{
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
    min-height: 500px;
    background-image: url("imagens/team.jpg");
    
}


/* estilo da seção de contato */

#contact{
    text-align: center;
    
    background-image: url('imagens/email.jpg');
    text-shadow: 1px 1px 1px #111111;
    min-height: 400px;
}
#contact p{
    font-size: 2em;
    
}
/* estilo da seção de requisitos  */

#req{
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
    min-height: 400px;
    
    background-image: url('imagens/gamer2.jpg');
    
}
#req-container {

    
    margin-top: 30px;
    overflow: hidden;
    height: fit-content;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    background-color: rgba(22, 25, 27, 0.479);
    
}
#req-min{
    text-align: justify;
    text-shadow: 1px 1px 1px #111111;
    float: left;
    width: 48%;
    font-size: 1.25em;
    
}

#req-rec{
    text-align: justify;
    text-shadow: 1px 1px 1px #111111;
    float: right;
    width: 48%;
    font-size: 1.25em;
    
}

/* estilo do rodapé */

footer{
    font-size: 13px;
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
    width: 100%;
    height: 10px;
    padding: 20px 0px 20px 0px;
    background-color: rgb(84, 84, 87);
    clear: both;
}